:root {
    --header-size: 10vh;
    --main-color: rgb(45,45, 45);
}

header {
    width: 100%;
    height: var(--header-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 0 1em;
    box-sizing: border-box;
    
}
.logo {
    align-self: stretch;
    border: 1px solid white;
}

/* Transition - переход (планость внимации) для элементу

Указывается в ОСНОВНОМ правиле елемнета (точка А) 
transition-delay - отсрочка(задержка начала анимации)
transition-duraction - продолжительность анимации (сколько времени она продолжается) 
transition-property - какую особенность (властивисть) нужно анимировать 
transition-timing-function - функция времени (принцит раскадрирования)
*/


.nav-item { 
    color: var(--main-color);
    font-size: 1.5em;
    padding: 1.5em;
    
    /* transit  ion-duration: 500ms;
    transition-property: all; 
    transition-timing-function: linear; */
}

.nav-item:hover { /* точка А */
    /* background-color: var(--main-color);
    color: white; */
    cursor: pointer;
}

.nav-item::after {/* точка В */
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    content: '';
    display: block;
    transition-duration: 500ms;
    transition-property: all; 
    transition-timing-function: ease-in-out;
}

.nav-item:hover::after {
    width: 0;
}
.nav-list {
    display: flex;
    flex-direction: row;
}

.banner {
    width: 100%;
    height: calc(100vh - var(--header-size));
    background-image: url('./pexels-creative-vix-9754.jpg');
}

.news  {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 10vw;
    justify-content: space-between;
}

.news-card {
    width: 30%;
    border: 1px solid black;
    padding: 2em;
    box-sizing: border-box;
    margin: 2vh 1vw;
}